h1, h2, h3 { /* assign h1, h2 and h3 with center align and font */
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(0, 0, 0);
}

li, p { /* assigns list items and paragraphs with font and size */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

header { /* changes header with these attributes */
  background-color: rgb(128, 123, 100);
  padding: 5px;
  font-size: 18px;
}

footer { /* changes footer with these attributes */
  background-color: rgb(34, 32, 26);
  padding: 5px;
  font-size: 10px;
  color: white;
  text-align: center;
}

.wrapper { /* adds a wrap around text */
  width: 1493px;
  margin: auto;
}

.center-align { /* used to align anything to center */
  text-align: center;
}

div { /* adds sizing to div */
  width: 710px;
  margin: auto;
  padding: 20px;
}

main { /* adds background to main */
  background-color: rgb(204, 190, 172);
}


.list-inside li{ /* lists the bullets near the list item */
  list-style-position: inside;
}

hr { /* changes the border to diamond */
  width: 15px;
  height: 15px;
  border: none;
  background: #000;
  color: #000;
  margin-top: 30px;
  margin-bottom: 20px;
  transform: rotate(45deg);
}

.round { /* rounds borders */
  border-radius: 10px;
}
